{% extends 'main/navbar.html' %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<canvas class="background-canvas"></canvas>
<div class="form-container-login">
  <div class="login-group">
    <form method="POST" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="login-group">
        <div class="input-text">
          <div class="login-form-field">
            {{ form.username.label_tag }}
            {{ form.username }}
            
          </div>
          <div class="login-form-field">
            {{ form.password.label_tag }}
            {{ form.password }}
            
          </div>
        </div>
        <button type="submit" class="login-btn">로그인</button>
      </div>
      <div class="not-input">
      {% if messages %}
        <div class="login-feedback">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
        {% endif %} 
      </div>
      <div class="form-container-signup">
      
        <span class="signup-text">아이디가 없으신가요?</span>
        <button class="signup-btn" onclick="location.href='/signup/'">회원가입</button>
      </div>
    </form>
  </div>
</div>
<script>
  (function () {
    'use strict'
    var forms = document.querySelectorAll('.needs-validation')
    Array.prototype.slice.call(forms)
      .forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
  })()
</script>
<script>
  const canvas = document.querySelector('.background-canvas');
  const context = canvas.getContext('2d');
  const drops = [];

  function resizeCanvas() {
    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;
  }

  window.addEventListener('resize', resizeCanvas);
  resizeCanvas();

  class Drop {
    constructor(index, x, y, speed, length) {
      this.index = index;
      this.x = x;
      this.y = y;
      this.speed = speed;
      this.length = length;
      this.draw();
    }

    draw() {
      context.beginPath();
      context.strokeStyle = '#FFFFFF'; // Updated color to blue for visibility
      context.moveTo(this.x, this.y);
      context.lineTo(this.x, this.y + this.length);
      context.stroke();
      context.closePath();
    }
  }

  function render() {
    context.clearRect(0, 0, canvas.width, canvas.height);

    drops.forEach((drop) => {
      drop.y += drop.speed;
      if (drop.y > canvas.height) {
        drop.y = 0;
        drop.x = Math.random() * canvas.width;
        drop.speed = Math.random() * 3 + 1;
        drop.length = Math.random() * 5 + 2;
      }

      drop.draw();
    });

    requestAnimationFrame(render); // 반복
  }

  // Increase the number of drops to 500
  for (let i = 0; i < 500; i++) {
    const tempX = Math.random() * canvas.width;
    const tempY = Math.random() * canvas.height;
    const tempSpeed = Math.random() * 3 + 1;
    const tempLength = Math.random() * 5 + 2;

    drops.push(new Drop(i, tempX, tempY, tempSpeed, tempLength));
  }
  render();
</script>
{% endblock %}
