body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px;
  color: white;
}

.top-bar .logo h1 {
  margin: 0;
}

.top-bar .auth-links a {
  margin-left: 10px;
  color: white;
  text-decoration: none;
}

.main-container {
  display: flex;
}

.sidebar {
  position: fixed; /* Fix sidebar position */
  box-sizing: border-box;
  background-color: #f4f4f4;
  padding: 20px;
  width: 250px;
  height: calc(100vh - 50px); /* Adjust height according to your needs */
}

.sidebar-header {
  margin-bottom: 20px;
}

.sidebar nav ul {
  padding: 0;
  list-style-type: none;
}

.sidebar nav ul li {
  margin-bottom: 10px;
}

.sidebar nav ul li a {
  color: #333;
  text-decoration: none;
}

.content-container {
  display: flex;
  justify-content: center; /* Center align content */
  align-items: center; /* Vertically center align content */
  box-sizing: border-box;
  margin-left: 250px; /* Same as sidebar width */
  padding: 20px;
  width: calc(100% - 250px); /* Adjust width according to your needs */
  height: calc(100vh - 50px); /* Full height minus top-bar height */
}

.content {
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;
  width: 100%;
  max-width: 800px; /* Adjust width as needed */
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #333;
  padding: 10px;
  width: 100%;
  color: white;
  text-align: center;
}

.map-controls {
  margin-bottom: 10px;
}

#map {
  height: 400px; /* Default height, you can adjust as needed */
}

.chatbot-container {
  margin-top: 20px;
  width: 100%; /* Full width */
}

#chatbot-form {
  display: flex;
  margin-top: 10px;
}

#chatbot-form input {
  flex: 1;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

#chatbot-form button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

#chatbot-response {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  padding: 20px;
  height: 400px; /* Set a height for the chat window */
  overflow-y: auto; /* Add scroll if content overflows */
}
