# hidden folder
.cache/
.config/
.local/
.ssh/

# hidden file
.bash_history
.bash_logout
.bashrc
.gitconfig
.profile

# critical data
service/ToDoList/db.sqlite3

# cache or package
service/ToDoList/board/__pycache__/
service/ToDoList/board/migrations/__pycache__/
service/ToDoList/chatbot/__pycache__/
service/ToDoList/chatbot/migrations/__pycache__/
service/ToDoList/login/__pycache__/
service/ToDoList/login/migrations/__pycache__/
service/ToDoList/main/__pycache__/
service/ToDoList/main/migrations/__pycache__/
service/ToDoList/rain/__pycache__/
service/ToDoList/rain/migrations/__pycache__/
service/ToDoList/signup/__pycache__/
service/ToDoList/signup/migrations/__pycache__/
service/ToDoList/sighup/__pycache__/
service/ToDoList/sighup/migrations/__pycache__/
service/ToDoList/terms/__pycache__/
service/ToDoList/terms/migrations/__pycache__/
service/ToDoList/ToDoList/__pycache__/
service/ToDoList/waterlevel/__pycache__/
service/ToDoList/waterlevel/migrations/__pycache__/