{% extends 'main/navbar.html' %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Safe City{% endblock %}</title>
    {% load static %}
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block content %}
        <main class="content">
            <div class="map_m">
                <div class="map-controls">
                    <button id="past-flooding">과거침수 지역</button>
                    <button id="toggleButton">침수예상 지역</button>
                    <div id="rainfall-buttons" class="RainfallButtons">
                        <button class="rainfall-button" data-value="0">0mm</button>
                        <button class="rainfall-button" data-value="50">50mm</button>
                        <button class="rainfall-button" data-value="100">100mm</button>
                        <button class="rainfall-button" data-value="150">150mm</button>
                    </div>
                    <button id="shelterButton">대피소</button>
                    <div id="regionSelection" class="region-selection">
                        <button class="region-button" id="all">광주 전체</button>
                        <button class="region-button" id="donggu">동구</button>
                        <button class="region-button" id="seogu">서구</button>
                        <button class="region-button" id="namgu">남구</button>
                        <button class="region-button" id="bukgu">북구</button>
                        <button class="region-button" id="gwangsangu">광산구</button>
                    </div>
                </div>
            </div>
            <div id="map" style="width: 100%; height: 100%;"></div>
        </main>
    {% endblock %}
    {% block extra_script %}
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/dropdown.js' %}"></script>
    {% endblock %}
</body>
</html>
