<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Safe City{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="main-container">
        <div class="content-container">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe id="chatbotIframe" src="{% url 'chatbot' %}" title="Chatbot"></iframe>
        </div>
    </div>

    <aside id="overlay-sidebar" class="overlay-sidebar active">
        <div class="inner">
            <!-- head -->
            <div class="head">
                <div class="logoArea">
                    <h1>광주광역시<br>침수대응시스템</h1>
                </div>
                <button type="button" class="btnSidebarToggle" aria-label="열기/닫기" aria-expanded="true">&lt;</button>
            </div>
            <!-- //head -->
    
            <!-- bottom -->
            <div class="bottom">
                <ul class="menuList">
                    <li class="menuItem">
                        <button type="button" class="menuButton" aria-pressed="false" onclick="window.location.href='{% url 'home' %}'">
                            <span class="icon"><img src="{% static 'img/home.png' %}" alt="Home" class="icon-img"></span>
                            <span class="menuText">메인 페이지</span>
                        </button>
                    </li>
                    <li class="menuItem">
                        <button type="button" class="menuButton" aria-pressed="false" onclick="window.location.href='{% url 'post_list' %}'">
                            <span class="icon"><img src="{% static 'img/campaign.png' %}" alt="Campaign" class="icon-img"></span>
                            <span class="menuText">공지사항</span>
                        </button>
                    </li>
                    <li class="menuItem">
                        <button type="button" class="menuButton" aria-pressed="false" onclick="window.location.href='{% url 'rain' %}'">
                            <span class="icon"><img src="{% static 'img/water_drop.png' %}" alt="Water Drop" class="icon-img"></span>
                            <span class="menuText">강수량</span>
                        </button>
                    </li>
                    <li class="menuItem">
                        <button type="button" class="menuButton" aria-pressed="false" onclick="window.location.href='{% url 'waterlevel' %}'">
                            <span class="icon"><img src="{% static 'img/water.png' %}" alt="Water" class="icon-img"></span>
                            <span class="menuText">구별 하천 수위</span>
                        </button>
                    </li>
                </ul>
                <!-- 로그인/회원가입 버튼 및 이미지 -->
                {% if user.is_authenticated %}
                    <div class="profile-section">
                        <img src="{% static 'img/account_circle.png' %}" alt="Profile" class="profile-icon" id="profile-icon">
                        <p class="username">{{ user.username }}</p>
                        <div class="profile-buttons" id="profile-buttons" style="display: none;">
                            <button type="button" class="menuButton" onclick="window.location.href='{% url 'profile' %}'">마이페이지</button>
                            <button type="button" class="menuButton" id="delete-account-button" data-url="{% url 'delete_account' %}">회원 탈퇴</button>
                        </div>
                        <a href="{% url 'logout' %}" class="auth-link">
                            <img src="{% static 'img/logout.png' %}" alt="Logout" class="auth-icon">
                        </a>
                    </div>
                {% else %}
                    <div class="auth-buttons">
                        <a href="{% url 'login' %}" class="auth-link collapsed-only">
                            <img src="{% static 'img/login.png' %}" alt="Login" class="auth-icon">
                        </a>
                        <a href="{% url 'terms' %}" class="auth-link collapsed-only">
                            <img src="{% static 'img/signup.png' %}" alt="Signup" class="auth-icon">
                        </a>
                        <a href="javascript:void(0)" onclick="openLoginModal()">로그인</a>
                        <a href="javascript:void(0)" onclick="openTermsModal()">회원가입</a>
                    </div>
                {% endif %}
            </div>
            <!-- //bottom -->
        </div>
    </aside>
    <div id="loginModal" class="login-modal">
        <div class="login-modal-content">
            <span class="close" onclick="closeLoginModal()">&times;</span>
            <iframe id="loginIframe" src="{% url 'login' %}" title="Login" class="login-iframe"></iframe>
        </div>
    </div>
    
    <!-- Signup Modal -->
    <div id="signupModal" class="signup-modal">
        <div class="signup-modal-content">
            <span class="close" onclick="closeSignupModal()">&times;</span>
            <iframe id="signupIframe" src="{% url 'signup' %}" title="Signup" class="signup-iframe"></iframe>
        </div>
    </div>
    <div id="termsModal" class="terms-modal">
        <div class="terms-modal-content">
            <span class="close" onclick="closeTermsModal()">&times;</span>
            <iframe id="termsIframe" src="{% url 'terms' %}" title="Terms" class="terms-iframe"></iframe>
        </div>
    </div>
    <script src="{% static 'js/modal.js' %}"></script>
    <script src="{% static 'js/sidebar-toggle.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteLink = document.querySelector('.delete-account-link');
            if (deleteLink) {
                deleteLink.addEventListener('click', function (event) {
                    const confirmation = confirm('정말 탈퇴하시겠습니까?');
                    if (!confirmation) {
                        event.preventDefault();
                    }
                });
            }
        });
        
        function openLoginModal() {
            const loginModal = document.getElementById("loginModal");
            if (loginModal) {
                console.log("Opening login modal");
                loginModal.style.display = "block";
            }
        }
        
        function closeLoginModal() {
            const loginModal = document.getElementById("loginModal");
            if (loginModal) {
                console.log("Closing login modal");
                loginModal.style.display = "none";
            }
        }
        
        function openSignupModal() {
            const signupModal = document.getElementById("signupModal");
            if (signupModal) {
                console.log("Opening signup modal");
                signupModal.style.display = "block";
            }
        }
        
        function closeSignupModal() {
            const signupModal = document.getElementById("signupModal");
            if (signupModal) {
                console.log("Closing signup modal");
                signupModal.style.display = "none";
            }
        }
        
        function openTermsModal() {
            const termsModal = document.getElementById("termsModal");
            if (termsModal) {
                console.log("Opening terms modal");
                termsModal.style.display = "block";
            }
        }
        
        function closeTermsModal() {
            const termsModal = document.getElementById("termsModal");
            if (termsModal) {
                console.log("Closing terms modal");
                termsModal.style.display = "none";
            }
        }
        
        function acceptTermsAndOpenSignup() {
            console.log("Accepted terms and opening signup modal");
            closeTermsModal();
            openSignupModal();
        }
        
        function openChatbotModal() {
            const chatbotModal = document.getElementById("chatbotModal");
            if (chatbotModal) {
                console.log("Opening chatbot modal");
                chatbotModal.style.display = "block";
            }
        }
        
        function closeChatbotModal() {
            const chatbotModal = document.getElementById("chatbotModal");
            if (chatbotModal) {
                console.log("Closing chatbot modal");
                chatbotModal.style.display = "none";
            }
        }
        
        // 모달 외부 클릭 시 모달 닫기
        window.onclick = function(event) {
            const loginModal = document.getElementById("loginModal");
            if (loginModal && event.target === loginModal) {
                loginModal.style.display = "none";
            }
            const chatbotModal = document.getElementById("chatbotModal");
            if (chatbotModal && event.target === chatbotModal) {
                chatbotModal.style.display = "none";
            }
            const signupModal = document.getElementById("signupModal");
            if (signupModal && event.target === signupModal) {
                signupModal.style.display = "none";
            }
            const termsModal = document.getElementById("termsModal");
            if (termsModal && event.target === termsModal) {
                termsModal.style.display = "none";
            }
        }
    </script>
    {% block extra_script %}{% endblock %}
</body>
</html>
