<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Safe City{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="top-bar">
        <div class="logo">
            <h1><a href="{% url 'home' %}" class="title-logo-link">광주광역시 도시침수 통합정보시스템</a></h1>
        </div>
        <div class="auth-links">
            {% if user.is_authenticated %}
                <div class="dropdown">
                    <button class="dropbtn">{{ user.username }}님</button>
                    <div class="dropdown-content">
                        <a href="{% url 'profile' %}">내 정보 조회</a>
                        <a href="{% url 'delete_account' %}" class="delete-account-link">회원 탈퇴</a>
                    </div>
                </div>
                <a href="{% url 'logout' %}">로그아웃</a>
            {% else %}
                <a href="{% url 'login' %}">로그인</a>
                <a href="{% url 'terms' %}">회원가입</a>
            {% endif %}
        </div>
    </div>
    <div class="main-container">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">메인 페이지</a></li>
                    <li><a href="{% url 'post_list' %}">공지사항</a></li>
                    <li><a href="{% url 'rain' %}">강수량</a></li>
                    <li><a href="{% url 'waterlevel' %}">구별 하천 수위</a></li>
                    <li><a onclick="openModal()" class="chatbot-icon-link">
                        <img src="{% static 'img/chatbot.png' %}" alt="Chatbot Icon" class="chatbot-icon">
                    </a></li>
                </ul>
            </nav>
        </aside>
        <div class="content-container">
        {% block content %}
        
        {% endblock %}
        </div>
    </div>
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <iframe id="chatbotIframe" src="{% url 'chatbot' %}" title="Chatbot"></iframe>
        </div>
    </div>

    <script src="{% static 'js/modal.js' %}"></script>
    {% block extra_script %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deleteLink = document.querySelector('.delete-account-link');
            if (deleteLink) {
                deleteLink.addEventListener('click', function (event) {
                    const confirmation = confirm('정말 탈퇴하시겠습니까?');
                    if (!confirmation) {
                        event.preventDefault();
                    }
                });
            }
        });
    </script>
    {% endblock %}
</body>
</html>
