{% extends 'main/navbar.html' %}

{% block content %}
<div class="notice">
    <table class="notice2">
        <h2>제목:{{post.title}}</h2>
        <thead class="notice3">
            <tr>
                <th scope="col">작성자</th>
                <th scope="col">작성일</th>
                <th scope="col">조회수</th>
            </tr>
        </thead>
        <tr>

            <td>{{ post.author }}</td>
            <td>{{ post.created_at|date:"Y-m-d H:i" }}</td>
            <td>{{ post.views }}</td>
        </tr>
    </table>
    <tbody>
    <div class="post-content">내용:{{ post.content|linebreaks }}</div>
    
    <div class="mt-4">
        <div class='button-container' style="display: flex; justify-content: space-between;">
            <div class='button-left'>
                <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-secondary">수정</a>
                <a href="{% url 'post_list' %}" class="btn btn-list">목록으로 돌아가기</a>
                {% if post.file %}
                <div class="mt-3">
                    <a href="{{ post.file.url }}" class="btn btn-info">첨부 파일 다운로드</a>
                </div>
                {% endif %}
            </div>
            <div class='button-right'>
                <form action="{% url 'post_delete' pk=post.pk %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('정말 삭제하시겠습니까?')">삭제</button>
                </form>
            </div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}