{% extends 'main/navbar.html' %}

{% block content %}
<div class="notice">
    <h2>글 수정</h2>
    <form action="{% url 'post_edit' pk=post.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{ form.as_p }}
        <div class = "button-container">
            <div class ='button-left'>
                <button type="submit" class="btn btn-secondary">저장</button>
                <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-secondary">취소</a>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}
