{% extends 'main/navbar.html' %}

{% block content %}
<style>
    body {
        background-color: #f0f0f0;
    }
</style>
    <div class="n-back">

<div class="notice">
    <h2>
        <i class="material-icons icon">create</i>
        글쓰기
    </h2>
    <form action="{% url 'post_new' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목"required>
        </div>
        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" name="content" rows="5" placeholder="내용"required></textarea>
        </div>
        <div class="form-group">
            <label for="file">파일 업로드</label>
            <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <div class="form-group">
            <label for="status">상태</label>
            <select class="form-control" id="status" name="status" required>
                <option value="published">Published</option>
            </select>
        </div>
        <div class="button-container">
            <button type="submit" class="btn btn-primary">글쓰기</button>
            <button onclick="history.back()" class="btn btn-secondary">뒤로 가기</button>
        </div>
    </form>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}