{% extends 'main/navbar.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/detect.css' %}">
{% endblock %}
{% block title %}Detect Home{% endblock %}

{% block content %}
<div class = "n-back">
    <div class = "notice">
        <h2 style="display: inline-block;">
            <i class="material-icons header-icon">report_gmailerrorred</i>
            <span class="header-title">시설물 관리</span>
        </h2>


        <!-- JavaScript to redirect after 1 second -->
        <script type="text/javascript">
            setTimeout(function() {
                window.location.href = "{% url 'upload_image' %}";
            }, 1);  // 1000 milliseconds = 1 second
        </script>
    </div>
</div>
{% endblock %}
