<!-- templates/find_ps/verify_code.html -->
{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/find_account.css' %}">
    <title>비밀번호 인증 코드 확인 - 도시침수 예방 사이트</title>
</head>
<body>
    <div class="form-container">
        <div class="form-side-bar">
            <span class="home-icon"><img src="{% static 'img/home0.png' %}" class="home-icon-img" onclick="window.location.href='{% url 'home' %}'"></span>
            <div class="tab">
                <button class="tablinks" onclick="location.href='/find_username/'">Username</button>
                <button class="tablinks active">Password</button>
            </div>
        </div>
        <div class="form-container-find">
            <h2>Verification</h2>
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="find-btn">Verify</button>
            </form>
        </div>
    </div>
</body>
</html>