<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Safe City</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var fetchRainfallDataUrl = '{% url "fetch_rainfall_data" %}';
    </script>
    <script src="{% static 'js/rain.js' %}"></script>
</head>
<body>
    <h1>Rainfall Data</h1>
    <div>
        <h2>광주광역시</h2>
        <canvas id="rainfallChart1"></canvas>
    </div>
    <div>
        <h2>동구</h2>
        <canvas id="rainfallChart2"></canvas>
    </div>
    <div>
        <h2>서구</h2>
        <canvas id="rainfallChart3"></canvas>
    </div>
    <div>
        <h2>남구</h2>
        <canvas id="rainfallChart4"></canvas>
    </div>
    <div>
        <h2>북구</h2>
        <canvas id="rainfallChart5"></canvas>
    </div>
    <div>
        <h2>광산구</h2>
        <canvas id="rainfallChart6"></canvas>
    </div>   

</body>
</html>
