body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f4f4f4;
  height: 100vh;
  color: #000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form-container {
  display: flex;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  background-color: #fff;
  width: 100%;
  max-width: 1300px;
  height: 100%;
  max-height: 850px;
}

.form-side-bar {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-radius: 15px 0 0 15px;
  background-color: #0066cc;
  padding: 40px 0px;
  width: 45%;
}

.home-icon {
  position: absolute; /* 부모 요소인 .form-side-bar를 기준으로 절대 위치 설정 */
  top: 18px; /* 상단에서 약간의 간격 */
  left: 18px; /* 왼쪽에서 약간의 간격 */
  cursor: pointer;
  width: 35px; /* 원하는 아이콘의 크기 설정 */
  height: 35px; /* 원하는 아이콘의 크기 설정 */
}

.home-icon-img {
  width: 100%; /* 원하는 아이콘의 크기 설정 */
  height: 100%; /* 원하는 아이콘의 크기 설정 */
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: flex-end; /* 오른쪽 정렬 */
  margin-top: 100px; /* 약간 아래쪽에 배치 */
  margin-bottom: auto; /* 위쪽으로 배치 */
  width: 35%;
}

.tab button {
  transition: 0.3s;
  cursor: pointer;
  border: none;
  background-color: #0066cc;
  padding: 20px;
  width: 100%;
  color: white;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}

.tab button:hover {
  border-radius: 15px 15px 15px 15px;
  background-color: #004999;
}

.tab button.active {
  justify-content: flex-end;
  align-items: center;
  border: none;
  border-radius: 20px 0px 0px 20px;
  background-color: #ffffff;
  color: #0066cc;
}

.form-container-find {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0 15px 15px 0;
  padding: 20px;
  width: 55%;
}

.form-container-find h2 {
  margin-bottom: 30px;
  color: #0066cc;
  font-size: 35px;
}

.input-container-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  font-size: 16px;
}

.find-btn {
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  background-color: #0066cc;
  padding: 15px;
  width: 108%;
  color: white;
  font-size: 18px;
}

.find-btn:hover {
  background-color: #004999;
}

.find-container {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  width: 70%;
  font-size: 16px;
  text-align: center;
}

.ok-btn {
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  background-color: #0066cc;
  padding: 15px;
  width: 78%;
  color: white;
  font-size: 18px;
}

.ok-btn:hover {
  background-color: #004999;
}

.footer {
  align-items: center;
  margin-top: 20px;
  width: 109%;
  color: #333;
  font-size: 14px;
  text-align: center;
}

.footer a {
  align-items: center;
  color: #0066cc;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
