/* Sidebar style */
.sidebar {
  transform: scale(0);
}

/* Content container style */
.content-container {
  margin-left: 0px;
}

/* Background canvas style */
.background-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(180deg, #2c3e50,#3b536b, #004d52);
}

/* Login form container style */
.form-container-login {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 400px;
  height: 400px; /* height from the original .form-container-login */
  margin: 100px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid gray; /* border from the original .form-container-login */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Login form header style */
.form-container-login > h2 {
  font-size: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 20px;
}

/* Login group style */
.login-group {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  box-sizing: border-box;
}

/* Input text style */
.input-text {
  flex-basis: 70%;
  padding: 0 10px;
}

.input-text .login-form-field {
  margin-bottom: 15px;
}

.input-text .login-form-field label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-text .login-form-field input,
.input-text > input {
  width: 100%;
  height: 48px; /* height from the original .input-text > input */
  padding: 0 10px;
  font-size: 16px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 6px; /* border-radius from the original .input-text > input */
  background-color: #F8F8F8;
  box-sizing: border-box;
}

.input-text .login-form-field input:focus {
  border-color: #007b83;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 131, 0.5);
}

/* Login button style */
.login-btn {
  flex: auto;
  width: 20%;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;

  font-size: 16px;
  background: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 5px; /* border-radius from the original .login-btn */
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background: #005f61;
}

/* Signup section style */
.form-container-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center; /* text-align from the original .form-container-signup */
  margin-top: 20px; /* margin-top from the original .form-container-signup */
}

.signup-text {
  padding-right: 20px;
  flex-basis: 70%;
  font-size: 16px;
  text-align: right;
  margin-right: 10px; /* margin-right from the original .signup-text */
}

.signup-btn {
  flex: auto;
  float: right;
  padding: 8px 10px;
  font-size: 14px;
  background: #f8f9fa;
  color: #007b83;
  border: 1px solid #007b83;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
  width: 100px;
}

.signup-btn:hover {
  background: #007b83;
  color: #fff;
}
