iframe {
  border: none;
  width: 100%;
  height: 600px;
}

.modal {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 100px;
  width: 100%;
  height: 100%;
}

.modal-content {
  position: absolute; /* Use absolute positioning to place it where you want */
  right: 220px; /* Align to the right edge */
  bottom: -180px;
  transform: translateY(-50%); /* Adjust vertically centered */
  border-radius: 15px;
  width: 100%; /* Fixed width to avoid size changes during zoom */
  max-width: 450px; /* Ensuring a max-width for larger screens */
}

.modal-content::after,
.modal-content::before {
  position: absolute;
  border-style: solid;
  content: '';
}

.modal-content::after {
  right: -49px;
  bottom: 13px;
  border-width: 50px 50px 0 0; /* 오른쪽 아래 방향으로 꼬리 조정 */
  border-color: #fefefe transparent transparent transparent; /* 오른쪽 아래 꼬리 색상 조정 */
}

.modal-content::before {
  right: -49px;
  bottom: 13px;
  border-width: 50px 50px 0 0; /* 오른쪽 아래 방향으로 꼬리 조정 */
  border-color: #fefefe transparent transparent transparent; /* 오른쪽 아래 꼬리 색상 조정 */
}
.close {
  float: right;
  color: #fefefe;
  font-weight: bold;
  font-size: 28px;
}

.close:hover,
.close:focus {
  cursor: pointer;
  color: red;
  text-decoration: none;
}
