/* 폰트 지정 */
@font-face {
    font-family: 'neon';
    src: url('../srcs/fonts/NeonPlanetDisplay.ttf') format('truetype');
}

/* 상단 바 스타일링 */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2c3e50;
    color: white;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.top-bar .logo h1 {
    margin: 0;
    font-size: 23px;
}

.top-bar .auth-links {
    margin-right: 40px;
}
.top-bar .auth-links a {
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.top-bar .auth-links a:hover {
    text-decoration: underline;
}

.title-logo-link {
    text-decoration: none;
    color: inherit;
}

/* 기본 스타일링 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-container {
    display: flex;
    flex: 1;
    margin-top: 50px; /* 상단 바 높이 */
}

.sidebar {
    width: 190px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    height: calc(100vh - 50px); /* 상단 바 높이 제외 */
    position: fixed;
    top: 50px; /* 상단 바 높이 */
    overflow-y: auto; /* 사이드 바 스크롤 */
}

.sidebar-header {
    text-align: center;
    margin-bottom: 50px;
}

.sidebar-header input {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    margin-right: 10px;
    
}

.sidebar-header h2 {
    font-size: 20px;
    margin-top: 10px;
}

.sidebar-header h3 {
    font-size: 16px;
    margin-top: 10px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.sidebar nav ul li {
    margin-bottom: 20px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

.quick-links {
    margin-top: 20px;
}

.quick-links h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.quick-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.quick-links ul li {
    margin-bottom: 10px;
}

.quick-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.quick-links ul li a:hover {
    text-decoration: underline;
}

.content-container {
    margin-left: 230px; /* 사이드 바 너비 + 여백 */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
}

.map_m{
    position: absolute;
    margin-top: 9px;
    margin-left: 170px;
    background-color: #ffffff; /* 박스 배경색 */
    /*border: 3px solid #000000;  박스 테두리 */
    border: none;
    border-radius: 10px; /* 테두리 둥글기 설정 */
    z-index: 900;
    
}

/* 드롭다운 CSS */
#regionSelection {
    display: none; /* 처음에는 보이지 않도록 설정 */
    position: absolute;
    top: 0;
    left: 300px; /* 대피소 버튼의 오른쪽에 위치시키기 위해 설정 (필요시 조정) */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
}

.region-selection .region-button {
    display: block;
    padding: 10px;
    cursor: pointer;
    width: 100px; /* 버튼 너비 */
    text-align: center; /* 텍스트 가운데 정렬 */
}

.region-selection .region-button:hover {
    background-color: #f0f0f0;
}

.map-controls {
    position: relative; /* 드롭다운 메뉴의 위치를 조정할 기준을 제공 */
}

.map-controls button {
    background-color: #ffffff;
    border: none; /* 테두리 제거 */
    width: 130px; 
    height: 40px; /* 박스의 높이 설정 */
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    z-index: 900;
    cursor: pointer;
    margin-left: 10px;
    margin: 5px;
}

.map-controls button:hover {
    background-color: #aaaeff;
    color: #ffffff;
}

.region-button {
    background-color: #ffffff;
    border: 1px solid #999999;
    width: 100px; 
    height: 30px; /* 박스의 높이 설정 */
    border-radius: 5px;
}

.region-button:hover {
    background-color: #999999;
}

.content {
    flex: 1;
}

#map {
    flex: 1;
    height: calc(100vh); /* 상단 바 높이 제외 */
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
}

/* 그래프 */
.chart-container {
    width: 48%;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f0f8ff;
    float: left;
    box-sizing: border-box;
}

.chart-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* 하천 수위 */
.river-level {
    flex: 1;
    background-color: white;
    padding: 40px;
    padding-left: 250px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.river-level h1 {
    margin-top: 0;
    font-size: 24px;
}

.river-data {
    padding: 20px;
}

.river-data div {
    padding: 10px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    border-radius: 4px;
}

.river-data h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.river-data p {
    margin: 0;
    color: #666;
}

.river-data div:hover {
    border: 2px solid #000dff; /* 원하는 테두리 색상으로 변경 */
}

.horizontal-container {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
}
