{% extends 'main/navbar.html' %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/waterlevel.css' %}">
<title>회원가입</title>
{% endblock %}

{% block content %}
<div class="waterlevel-container">
    <div class="title-waterlevel">
        <h1>구별 하천 수위</h1>
    </div>
    <div class="horizontal-container">
        <div id="map"></div>
        <div id="data-container" class="grid-container info-container">
            <h3>하천 수위 정보</h3>
            <div id="waterlevel-info">관측소를 클릭하여 수위 정보를 확인하세요.</div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/waterlevel.js' %}"></script>
{% endblock %}