.sidebar {
  transform: scale(0);
}

.content-container {
  margin-left: 0px; /* W황인태 */ /* 사이드 바 너비  */
}

.form-container-login {
  box-sizing: border-box;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 8px;
  border: 2px solid gray;
  border-radius: 6px;
  background-color: #ffffff;
  padding: 40px;
  width: 500px;
  height: 400px;
}

.form-container-login > h2 {
  margin-bottom: 20px;
  color: #000000;
  font-size: 24px;
  text-align: center;
}

.login-group {
  display: flex;
  box-sizing: border-box;
  padding: 20px 0px;
  width: 100%;
}

.input-text {
  flex-basis: 70%;
  padding: 0 10px;
}

.input-text > input {
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #f8f8f8;
  padding: 0 10px;
  width: 100%;
  height: 48px;
  font-size: 16px;
}

.login-btn {
  flex: auto;
  align-items: right;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 16px;
}

.form-container-signup {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup-text {
  flex-basis: 70%;
  padding-right: 20px;
  font-size: 16px;
  text-align: right;
}

.signup-btn {
  flex: auto;
  float: right;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 16px;
}
